@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Ubuntu:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
}

.App {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    background-color: aqua;
    width: 300px;
    min-width: 200px;
    height: 100%;
}

.main {
    background-color: darkturquoise;
    width: 100%;
}